<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons>
      <ion-menu-button menu="custom"></ion-menu-button>
      <ion-title>Offer</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/GWkDggq/joker.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/B49NtfQ/chapter.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/b5xTnP3/aladin.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/M5QkNQ7/captain.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/W0yB4fZ/angel.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <div class="img-thumb">
            <img src="https://i.ibb.co/1dsLhGn/dark.jpg" alt="">
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
