<ion-app>
  <ion-menu side="start" menuId="custom" contentId="my-content">
    <ion-header>
      <ion-toolbar color="">
        <ion-title>Side Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="arrow-dropright-circle" slot="start"></ion-icon>
            <ion-label>Play Now</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="cube" slot="start"></ion-icon>
            <ion-label>Category Item</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="desktop" slot="start"></ion-icon>
            <ion-label>Watch Video</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Favourite</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="color-palette" slot="start"></ion-icon>
            <ion-label>Themes</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="my-content" ></ion-router-outlet>
</ion-app>
