<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons>
      <ion-menu-button menu="custom"></ion-menu-button>
      <ion-title>Contact</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- List of Text Items -->
  <ion-list>
    <ion-list-header>
      <ion-label>All Users</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let user of userList" [routerLink]="['/home/tabs/homepage', user._id]">
      <ion-avatar slot="start">
        <img [src]="user.imgUrl">
      </ion-avatar>
      <ion-label>{{user.name}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
